header {
    $base-height: 10vh;
    $final-height: 50vh;
    $ft-base: 1.2rem; // tamaño base
    $ft-color: white; //ft = font
    $bg-color: rgba(0, 0, 0, 0);
    $bg-color-not-hero: rgba(24, 24, 24, 0.7);

    position: fixed;
    z-index: 3;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: $ft-base;
    color: $ft-color;

    height: $base-height;
    overflow: hidden;
    
    background-color: $bg-color;

    transition: all 200ms ease-out;

    &.not-hero {
        background-color: $bg-color-not-hero;
        border-bottom: 2px solid white;
        backdrop-filter: blur(10px);
    }
    
    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $base-height;

        a {
            img {
                width: 70px;
            }
        }

        button {
            display: none;            
            cursor: pointer;
        }
    }

    nav {
        display: flex;
        width: 40%;
        justify-content: space-between;
    }

    .socials-container {
        display: none;
    }
    @media screen and (max-width: 1600px) {
        padding: 0 6%;
    }

    @media screen and (max-width: 900px) {
        $translate-amount: 15px;
        $bg-color-open: rgba(0, 0, 0, 0.7);
        
        padding: 0 5%;
        display: initial;
        
        &.open {
            height: $final-height;
            background-color: $bg-color-open;
            border-bottom: 3px solid white;
            backdrop-filter: blur(10px);

            nav.not-auto {
                a {
                    transform: translateY(0);
                    opacity: 1;
                }

                @for $i from 1 through 4 {
                    a:nth-child(#{$i}) {
                        transition: all 300ms ease-out $i*60ms
                    }
                }
            }

            .socials-container {
                opacity: 1;
                transform: translateY(0);
                transition: all 300ms ease-out 300ms;
            }
        }
        
        .icons {
            a {
                img {
                    width: 60px;
                }
            }

            button {
                display: initial;
                width: 50px;
                background-color: rgba(0, 0, 0, 0);
                border: 0;
            }
        }

        nav.auto {
            width: initial;
            flex-direction: column;
            align-items: end;
            padding: 35px 0;
            height: calc($final-height - $base-height);
        }

        nav.not-auto {
            width: initial;
            flex-direction: column;
            align-items: center;
            height: 25vh;
            font-size: 1.2 * $ft-base;

            a {
                transform: translateY(-$translate-amount);
                opacity: 0;
                transition: all 200ms linear;
            }
        }

        .socials-container {
            opacity: 0;
            width: 100%;
            display: grid;
            place-items: center;
            margin-top: 4vh;
            transform: translateY(-$translate-amount);

            transition: all 200ms ease-out 60ms;

            .socials {
                display: flex;
                column-gap: 15px;

                a {
                    img {
                        width: 50px;
                    }
                }
            }
        }
    }
}
