// C O M P O N E N T E S


#hero{
    .col-2 {
        h1 {
            span {
                color: #CD2231;
                display: block;
            }
        }

        .col-3-mobile {
            p {
                span {
                    color: #CD2231;
                }
            }  
        }

        a {border: 2px solid #CD2231;}
    }

    .col-3 {
        p {
            span {
                color: #CD2231;
            }
        }  
    }
}

#ventajas {
    background: linear-gradient(180deg, #CD2231 0%, #FF3749 0.01%, #9D0E1A 100%);

    .ventaja{
        p {color: #CD2231;}
    }

    @media screen and (max-width: 900px) {
        .ventaja-mobile{color: #CD2231;}
    }
}

#como-comprar {
    h2{span{color: #CD2231;}}
    .pasos {
        .paso {
            h3 {color: #CD2231;}
        }
    }

}

#ofertas{
    .tarjetas {
        .tarjeta {
            &:nth-child(2){background: linear-gradient(180deg, #CD2231 0%, #181818 100%);}
        }

    }
}

#consolas {
    .mask {
        background: linear-gradient(180deg, rgba(205, 34, 49, 0.90) 0%, rgba(157, 14, 26, 0.90) 100%);
    }
}


// P A N T A L L A   D E   T A M A Ñ O S

#info-screen { 
    position: fixed;
    z-index: 100;
    height: 100vh;

    .info {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        background-color:#181818;
        border-radius: 15px;
        padding: 6px 15px;

        span:not(.sep) {
            font-weight: bold;
            font-size: 1.25rem;
        }
    }
}