// C O M P O N E N T E S


#hero{
    .col-2 {
        h1 {
            span {
                color: #0B7D57;
                display: block;
            }
        }

        .col-3-mobile {
            p {
                span {
                    color: #0B7D57;
                }
            }  
        }

        a {border: 2px solid #0B7D57;}
    }

    .col-3 {
        p {
            span {
                color: #0B7D57;
            }
        }  
    }
}

#ventajas {
    background: linear-gradient(180deg, #0B7D57 0%, #004830 100%);

    .ventaja{
        p {color: #0B7D57;}
    }

    @media screen and (max-width: 900px) {
        .ventaja-mobile{color: #0B7D57;}
    }
}

#como-comprar {
    h2{span{color: #0B7D57;}}
    .pasos {
        .paso {
            h3 {color: #0B7D57;}
            p {strong {color: #0B7D57}}
        }
    }

}

#ofertas{
    .tarjetas {
        .tarjeta {
            &:nth-child(2){background: linear-gradient(180deg, #0B7D57 0%, #181818 100%);}
        }

    }
}

#consolas {
    .mask {
        background: linear-gradient(180deg, rgba(11, 125, 87, 0.90) 0%, rgba(0, 72, 48, 0.90) 100%);
    }
}
