#hero .col-2 h1 span {
  color: #0B7D57;
  display: block;
}
#hero .col-2 .col-3-mobile p span {
  color: #0B7D57;
}
#hero .col-2 a {
  border: 2px solid #0B7D57;
}
#hero .col-3 p span {
  color: #0B7D57;
}

#ventajas {
  background: linear-gradient(180deg, #0B7D57 0%, #004830 100%);
}
#ventajas .ventaja p {
  color: #0B7D57;
}
@media screen and (max-width: 900px) {
  #ventajas .ventaja-mobile {
    color: #0B7D57;
  }
}

#como-comprar h2 span {
  color: #0B7D57;
}
#como-comprar .pasos .paso h3 {
  color: #0B7D57;
}
#como-comprar .pasos .paso p strong {
  color: #0B7D57;
}

#ofertas .tarjetas .tarjeta:nth-child(2) {
  background: linear-gradient(180deg, #0B7D57 0%, #181818 100%);
}

#consolas .mask {
  background: linear-gradient(180deg, rgba(11, 125, 87, 0.9) 0%, rgba(0, 72, 48, 0.9) 100%);
}