@font-face {
  font-family: "asap-regular";
  src: url(./assets/AsapCondensed-Regular.ttf);
}
@font-face {
  font-family: "audiowide";
  src: url(./assets/Audiowide-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: asap-regular, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

.hidden {
  overflow: hidden;
}

.hiddenSelector {
  overflow: hidden;
}

header {
  position: fixed;
  z-index: 3;
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  color: white;
  height: 10vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: all 200ms ease-out;
}
header.not-hero {
  background-color: rgba(24, 24, 24, 0.7);
  border-bottom: 2px solid white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
header .icons a img {
  width: 70px;
}
header .icons button {
  display: none;
  cursor: pointer;
}
header nav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
header .socials-container {
  display: none;
}
@media screen and (max-width: 1600px) {
  header {
    padding: 0 6%;
  }
}
@media screen and (max-width: 900px) {
  header {
    padding: 0 5%;
    display: initial;
  }
  header.open {
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid white;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  header.open nav.not-auto a {
    transform: translateY(0);
    opacity: 1;
  }
  header.open nav.not-auto a:nth-child(1) {
    transition: all 300ms ease-out 60ms;
  }
  header.open nav.not-auto a:nth-child(2) {
    transition: all 300ms ease-out 120ms;
  }
  header.open nav.not-auto a:nth-child(3) {
    transition: all 300ms ease-out 180ms;
  }
  header.open nav.not-auto a:nth-child(4) {
    transition: all 300ms ease-out 240ms;
  }
  header.open .socials-container {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-out 300ms;
  }
  header .icons a img {
    width: 60px;
  }
  header .icons button {
    display: initial;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
  }
  header nav.auto {
    width: initial;
    flex-direction: column;
    align-items: end;
    padding: 35px 0;
    height: 40vh;
  }
  header nav.not-auto {
    width: initial;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    font-size: 1.44rem;
  }
  header nav.not-auto a {
    transform: translateY(-15px);
    opacity: 0;
    transition: all 200ms linear;
  }
  header .socials-container {
    opacity: 0;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 4vh;
    transform: translateY(-15px);
    transition: all 200ms ease-out 60ms;
  }
  header .socials-container .socials {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  header .socials-container .socials a img {
    width: 50px;
  }
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}
.loader .wrapper .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}
.loader .wrapper .circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.loader .wrapper .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.loader .wrapper .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}
.loader .wrapper .shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.loader .wrapper .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.redes {
  width: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  top: 50%;
  translate: transformY(-50%);
}
.redes > div {
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 3;
}

/* .redes{
    position: fixed;
    z-index: 10;
    border-radius: 20px 0 0 20px;
    background: rgba(51, 51, 51, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px 10px;

    a{
        img{
            width: 45px;
            margin: 10px;
            transition: all 0.2s linear;
        }

        &:hover{img{filter: invert(0.2);}}
    }

    @media screen and (max-width: 1600px) {
        row-gap: 15px;
        padding: 10px 5px;
        a{img{width: 40px;}}
    }

    @media screen and (max-width: 1200px) {
        row-gap: 15px;
        padding: 10px 5px;
        a{
            img{
                width: 30px;
                height: 30px;
                margin: 5px;
            }
        }
    }

    @media (orientation: portrait){
        display: none;
    }
} */
#selector {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 15%;
  row-gap: 60px;
  color: white;
  background: url(./assets/selector-fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#selector > img {
  width: 250px;
}
#selector h2 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#selector h2 img {
  width: 40px;
}
#selector .paises {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#selector .paises .pais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
#selector .paises .pais a {
  cursor: pointer;
}
#selector .paises .pais a img {
  width: 100%;
}
#selector .paises .pais a img:hover {
  box-shadow: 0 0 10px 0 rgb(101, 250, 255);
}
#selector .paises .pais h3 {
  font-size: 1.5rem;
}
@media screen and (max-width: 1600px) {
  #selector {
    padding: 0 6%;
  }
  #selector > img {
    width: 230px;
  }
}
@media screen and (max-width: 1050px) {
  #selector > img {
    width: 200px;
  }
  #selector h2 {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 900px) {
  #selector .paises {
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  #selector .paises .pais {
    row-gap: 10px;
  }
  #selector .paises .pais h3 {
    font-size: 1.25rem;
  }
}
@media (orientation: portrait) {
  #selector {
    padding: 0 10%;
  }
  #selector > img {
    width: 200px;
  }
  #selector h2 {
    font-size: 2.5rem;
  }
  #selector h2 img {
    width: 45px;
  }
  #selector .paises {
    width: 80%;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
  }
  #selector .paises .pais {
    row-gap: 5px;
  }
  #selector .paises .pais h3 {
    font-size: 1.25rem;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background: url(./assets/hero-fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  padding: 0px 15%;
}
#hero > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}
#hero .col-1 img {
  width: 70%;
}
#hero .col-2 .logo {
  width: 35%;
  margin-bottom: 40px;
}
#hero .col-2 h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
  margin-bottom: 55px;
}
#hero .col-2 h1 span {
  color: #5DC3FB;
  display: block;
}
#hero .col-2 .col-3-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#hero .col-2 .col-3-mobile img {
  width: 45%;
}
#hero .col-2 .col-3-mobile p {
  color: white;
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
}
#hero .col-2 .col-3-mobile p span {
  color: #5DC3FB;
}
#hero .col-2 a {
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #5DC3FB;
  background-color: #333;
  color: white;
  text-align: center;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}
#hero .col-2 a img {
  width: 25px;
  margin-left: 15px;
}
#hero .col-2 a .wsp-hover, #hero .col-2 a .ig-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #53CF5F 0%, #27B43C 100%, #27B43C 100%);
  opacity: 0;
  transition: all 0.2s linear;
}
#hero .col-2 a .wsp-hover {
  background: linear-gradient(180deg, #53CF5F 0%, #27B43C 100%, #27B43C 100%);
}
#hero .col-2 a .ig-hover {
  background: linear-gradient(180deg, #664BC9 0%, #C837AB 72.01%);
}
#hero .col-2 a:hover {
  border: 2px solid #fff;
}
#hero .col-2 a:hover .wsp-hover {
  opacity: 1;
}
#hero .col-2 a:hover .ig-hover {
  opacity: 1;
}
#hero .col-3 img {
  width: 45%;
}
#hero .col-3 p {
  color: white;
  font-size: 1.5rem;
  width: 60%;
  text-align: center;
}
#hero .col-3 p span {
  color: #5DC3FB;
}
@media screen and (min-width: 2400px) {
  #hero {
    min-height: 1000px;
  }
}
@media screen and (max-width: 1600px) {
  #hero {
    padding: 0 5%;
  }
  #hero .col-2 h1 {
    margin-bottom: 30px;
  }
  #hero .col-2 a {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  #hero {
    padding: 0 3%;
  }
}
@media screen and (max-width: 900px) {
  #hero > * {
    margin-top: 7vh;
  }
  #hero .col-2 .logo {
    margin-bottom: 20px;
  }
  #hero .col-2 h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  #hero .col-2 .col-3-mobile img {
    width: 37%;
  }
  #hero .col-2 .col-3-mobile p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}
@media (orientation: portrait) {
  #hero {
    grid-template-columns: 1fr;
  }
  #hero .col-1, #hero .col-3 {
    display: none;
  }
  #hero .col-2 .col-3-mobile {
    display: flex;
  }
}

#ventajas {
  background: linear-gradient(180deg, #5DC3FB 0%, #328FC2 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5vh 15%;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
#ventajas .ventaja {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
}
#ventajas .ventaja .icono {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
}
#ventajas .ventaja .icono img {
  width: 50px;
}
#ventajas .ventaja p {
  height: 120px;
  color: #5DC3FB;
  background-color: white;
  font-size: 1.5rem;
  padding: 20px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#ventajas .ventaja-mobile {
  display: none;
}
@media screen and (max-width: 1600px) {
  #ventajas {
    padding: 5vh 6%;
  }
}
@media screen and (max-width: 900px) {
  #ventajas .ventaja-mobile {
    display: initial;
  }
}
@media (orientation: portrait) {
  #ventajas {
    -moz-column-gap: 0px;
         column-gap: 0px;
    padding: 5vh 6%;
  }
  #ventajas .ventaja .icono {
    width: 80px;
    height: 80px;
    transition: all 0.1s linear;
  }
  #ventajas .ventaja .icono img {
    width: 40px;
  }
  #ventajas .ventaja .icono.seleccionado {
    box-shadow: 0px 0px 15px 2px rgba(70, 70, 70, 0.705);
    transform: scale(1.1);
  }
  #ventajas .ventaja p {
    display: none;
  }
  #ventajas .ventaja-mobile {
    grid-column: 1/4;
    margin-top: 20px;
    height: 120px;
    color: #5DC3FB;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

#como-comprar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 15%;
  row-gap: 100px;
  margin-top: 100px;
}
#como-comprar .img1 {
  position: absolute;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 200px;
}
#como-comprar .img1 img {
  width: 450px;
}
#como-comprar .img2 {
  position: absolute;
  width: 100%;
  height: 500px;
  margin-top: 600px;
}
#como-comprar .img2 img {
  width: 350px;
}
#como-comprar .img3 {
  position: absolute;
  width: 100%;
  height: 500px;
  margin-top: 1000px;
  display: flex;
  justify-content: end;
  align-items: center;
}
#como-comprar .img3 img {
  width: 450px;
}
#como-comprar h2 {
  border-radius: 20px;
  background: rgba(105, 105, 105, 0.5);
  color: white;
  padding: 25px 40px;
  font-size: 2.5rem;
}
#como-comprar h2 span {
  color: #5DC3FB;
}
#como-comprar .pasos {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  position: relative;
}
#como-comprar .pasos hr {
  width: 50%;
  align-self: center;
  border: 1px solid #696969;
}
#como-comprar .pasos .paso {
  width: 50%;
}
#como-comprar .pasos .paso h3 {
  color: #5DC3FB;
  font-size: 1.75rem;
  margin-bottom: 20px;
}
#como-comprar .pasos .paso p {
  color: white;
  font-size: 1.5rem;
}
#como-comprar .pasos .paso.par {
  text-align: right;
  align-self: end;
}
@media screen and (max-width: 1600px) {
  #como-comprar {
    padding: 5vh 6%;
    margin-top: 70px;
  }
  #como-comprar .img1 img {
    width: 350px;
  }
  #como-comprar .img2 img {
    width: 250px;
  }
  #como-comprar .img3 img {
    width: 350px;
  }
}
@media (orientation: portrait) {
  #como-comprar {
    padding: 5vh 6%;
    row-gap: 70px;
    margin-top: 20px;
  }
  #como-comprar .img1 {
    margin-top: 100px;
  }
  #como-comprar .img1 img {
    width: 250px;
  }
  #como-comprar .img2 img {
    width: 200px;
  }
  #como-comprar .img3 {
    margin-top: 900px;
  }
  #como-comprar .img3 img {
    width: 270px;
  }
  #como-comprar h2 {
    padding: 25px 25px;
    font-size: 2rem;
    text-align: center;
  }
  #como-comprar h2 span {
    display: block;
  }
  #como-comprar .pasos {
    row-gap: 60px;
  }
  #como-comprar .pasos hr {
    width: 70%;
  }
  #como-comprar .pasos .paso {
    width: 90%;
  }
  #como-comprar .pasos .paso h3 {
    font-size: 1.75rem;
  }
  #como-comprar .pasos .paso p {
    font-size: 1.25rem;
  }
}

#ofertas {
  padding: 5vh 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
}
#ofertas h2 {
  border-radius: 20px;
  background: rgba(105, 105, 105, 0.5);
  color: white;
  padding: 25px 40px;
  font-size: 2.5rem;
}
#ofertas .tarjetas {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
#ofertas .tarjetas .tarjeta {
  padding: 20px 30px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-basis: 250px;
  margin-bottom: 70px;
  border-radius: 20px;
  background: linear-gradient(180deg, #606060 0%, #181818 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: white;
}
#ofertas .tarjetas .tarjeta img {
  width: 140px;
}
#ofertas .tarjetas .tarjeta h3 {
  font-weight: 600;
  background: linear-gradient(180deg, #FFF5A5 0%, #D2B45E 0.01%, #FFF5A5 51.04%, #D2B45E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}
#ofertas .tarjetas .tarjeta .cantidad {
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 15px;
}
#ofertas .tarjetas .tarjeta .texto {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 15px;
}
#ofertas .tarjetas .tarjeta .precio {
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 15px;
}
#ofertas .tarjetas .tarjeta a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  padding: 10px 30px;
  border-radius: 20px;
  background: linear-gradient(180deg, #D2B45E 0%, #FFF5A5 47.4%, #D2B45E 100%);
  margin-bottom: 15px;
  font-weight: 600;
  transition: all 0.1s linear;
}
#ofertas .tarjetas .tarjeta a:hover {
  box-shadow: 0 0 10px 0 #faeb76;
}
#ofertas .tarjetas .tarjeta:nth-child(2) {
  background: linear-gradient(180deg, #5DC3FB 0%, #181818 100%);
}
#ofertas .tarjetas .tarjeta:nth-child(5) .cantidad {
  font-size: 2rem;
}
@media screen and (max-width: 1600px) {
  #ofertas {
    padding: 5vh 6%;
  }
  #ofertas .tarjetas .tarjeta {
    flex-basis: 220px;
  }
}
@media screen and (max-width: 600px) {
  #ofertas .tarjetas .tarjeta {
    flex-basis: 270px;
  }
}

#consolas {
  padding: 7vh 15%;
  background-image: url(assets/consola-bg-desktop.png);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  position: relative;
}
#consolas .mask {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(93, 195, 251, 0.9) 0%, rgba(50, 143, 194, 0.9) 100%);
}
#consolas .consola {
  z-index: 2;
  display: grid;
  place-items: center;
}
#consolas .consola img {
  width: 60px;
}
#consolas .consola p {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  width: 70%;
}
@media screen and (max-width: 1600px) {
  #consolas {
    padding: 7vh 6%;
  }
}
@media screen and (max-width: 900px) {
  #consolas {
    background-image: url(assets/consola-bg-mobile.png);
    flex-direction: column;
    row-gap: 50px;
  }
  #consolas .consola img {
    width: 80px;
  }
}

#contacto {
  padding: 5vh 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  background-image: url(./assets/contacto-bg.png);
  background-repeat: no-repeat;
  background-position: 100%;
}
#contacto h2 {
  border-radius: 20px;
  background: rgba(105, 105, 105, 0.5);
  color: white;
  margin-top: 100px;
  padding: 25px 40px;
  font-size: 2.5rem;
}
#contacto .contenedor {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}
#contacto .contenedor div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
  row-gap: 30px;
}
#contacto .contenedor div h4 {
  font-size: 1.25rem;
}
#contacto .contenedor div p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696969;
  margin: 0 30px;
  text-align: center;
}
#contacto .contenedor div p a {
  margin: 0 30px 0 0px;
}
#contacto .contenedor div p a img {
  width: 40px;
}
#contacto .contenedor div p a .contactoImgHover {
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.2s linear;
}
#contacto .contenedor div p a:hover .contactoImgHover {
  opacity: 1;
}
#contacto .contenedor div > a {
  width: 150px;
  text-decoration: none;
  border-radius: 20px;
  background: linear-gradient(180deg, #696969 0%, #121212 100%);
  color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  transition: all 0.2s linear;
}
#contacto .contenedor div > a .contacto-wsp-hover, #contacto .contenedor div > a .contacto-ig-hover {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  opacity: 0;
  transition: all 0.2s linear;
}
#contacto .contenedor div > a .contacto-wsp-hover {
  background: linear-gradient(180deg, #53CF5F 0%, #27B43C 100%, #27B43C 100%);
}
#contacto .contenedor div > a .contacto-ig-hover {
  background: linear-gradient(180deg, #664BC9 0%, #C837AB 72.01%);
}
#contacto .contenedor div > a:hover .contacto-wsp-hover {
  opacity: 1;
}
#contacto .contenedor div > a:hover .contacto-ig-hover {
  opacity: 1;
}
#contacto .contenedor .insta {
  border-right: 1px solid grey;
}
@media screen and (max-width: 1600px) {
  #contacto {
    padding: 5vh 6%;
  }
}
@media (orientation: portrait) {
  #contacto {
    padding: 0 10%;
  }
  #contacto h2 {
    width: 100%;
  }
  #contacto .contenedor {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  #contacto .contenedor div {
    padding: 40px 0px;
  }
  #contacto .contenedor div h4 {
    font-size: 1.4rem;
    text-align: center;
  }
  #contacto .contenedor div p {
    flex-direction: column;
    row-gap: 30px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  #contacto .contenedor div p img {
    margin: 0px;
  }
  #contacto .contenedor div a {
    width: 50%;
    padding: 10px 0px;
  }
  #contacto .contenedor .insta {
    border-right: 0px solid grey;
    border-bottom: 1px solid grey;
  }
}

footer .cliente {
  padding: 3vh 15%;
  background: linear-gradient(180deg, #606060 0%, #181818 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
footer .cliente > img {
  width: 120px;
}
footer .cliente p {
  font-size: 1rem;
  color: white;
  justify-self: center;
  text-align: center;
}
footer .cliente .redes {
  justify-self: end;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
footer .cliente .redes img {
  width: 40px;
}
footer .decoded {
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  color: white;
}
footer .decoded a {
  color: white;
  cursor: pointer;
  font-family: "audiowide", sans-serif;
  padding: 0 2px;
  text-decoration: none;
}
@media screen and (max-width: 1600px) {
  footer .cliente {
    padding: 3vh 6%;
  }
}
@media screen and (max-width: 600px) {
  footer .cliente {
    grid-template-columns: 1fr;
  }
  footer .cliente > img, footer .cliente .redes {
    justify-self: center;
  }
  footer .cliente > img, footer .cliente p {
    margin-bottom: 30px;
  }
}

#info-screen {
  position: fixed;
  z-index: 100;
  height: 100vh;
}
#info-screen .info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: #181818;
  border-radius: 15px;
  padding: 6px 15px;
}
#info-screen .info span:not(.sep) {
  font-weight: bold;
  font-size: 1.25rem;
}/*# sourceMappingURL=styles.css.map */