@font-face {
    font-family: 'asap-regular';
    src: url(./assets/AsapCondensed-Regular.ttf);
}

@font-face {
    font-family: 'audiowide';
    src: url(./assets/Audiowide-Regular.ttf);
}



// G E N E R A L E S

* {
    margin: 0;
    padding: 0;
    font-family: asap-regular, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
}



// P R E   L O A D E R 

.hidden {overflow: hidden;}

.hiddenSelector {overflow: hidden;}

.loader{
    width: 100%;
    position: absolute;
    background-color: #181818;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    .wrapper {
        width: 200px;
        height: 60px;
        position: relative;
        z-index: 1;
        
        .circle {
            width: 20px;
            height: 20px;
            position: absolute;
            border-radius: 50%;
            background-color: #fff;
            left: 15%;
            transform-origin: 50%;
            animation: circle7124 .5s alternate infinite ease;
            &:nth-child(2) {
                left: 45%;
                animation-delay: .2s;
            }
              
            &:nth-child(3) {
                left: auto;
                right: 15%;
                animation-delay: .3s;
            }
        }
    
        @keyframes circle7124 {
            0% {
              top: 60px;
              height: 5px;
              border-radius: 50px 50px 25px 25px;
              transform: scaleX(1.7);
            }
          
            40% {
              height: 20px;
              border-radius: 50%;
              transform: scaleX(1);
            }
          
            100% {
              top: 0%;
            }
        }
    
        .shadow {
            width: 20px;
            height: 4px;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.9);
            position: absolute;
            top: 62px;
            transform-origin: 50%;
            z-index: -1;
            left: 15%;
            filter: blur(1px);
            animation: shadow046 .5s alternate infinite ease;
    
            &:nth-child(4) {
                left: 45%;
                animation-delay: .2s
            }
              
            &:nth-child(5) {
                left: auto;
                right: 15%;
                animation-delay: .3s;
            }
        }
          
        @keyframes shadow046 {
            0% {
              transform: scaleX(1.5);
            }
          
            40% {
              transform: scaleX(1);
              opacity: .7;
            }
          
            100% {
              transform: scaleX(.2);
              opacity: .4;
            }
        }
    }
}

#selector{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 15%;
    row-gap: 60px;
    color: white;
    background: url(./assets/selector-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
    & > img{width: 250px;}
  
    h2{
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        column-gap: 15px;
    
        img{width: 40px;}
    }
  
    .paises{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 20px;
  
        .pais{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            row-gap: 15px;
  
            a{
                cursor: pointer;
                img{
                    width: 100%;
                    &:hover{box-shadow: 0 0 10px 0 rgb(101, 250, 255);}
                }
            }
  
            h3{font-size: 1.5rem;}
        }
    }

    @media screen and (max-width: 1600px) {
        padding: 0 6%;

        & > img{width: 230px;}
    }

    @media screen and (max-width: 1050px) {
        & > img{width: 200px;}
        h2{font-size: 2.2rem;}
    }

    @media screen and (max-width: 900px) {
        .paises{
            width: 50%;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .pais{
                row-gap: 10px;
                h3{font-size: 1.25rem;}
            }
        }
    }

    @media (orientation: portrait) {
        padding: 0 10%;
        & > img{width: 200px;}
        h2{font-size: 2.5rem; img{width: 45px;}}
        .paises{
            width: 80%;
            grid-template-columns: 1fr 1fr;
            gap: 20px 30px;

            .pais{
                row-gap: 5px;
                h3{font-size: 1.25rem;}
            }
        }
    }
}


// C O M P O N E N T E S


body > .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 0 0 20px;
    background: rgba(51, 51, 51, 0.65);
    row-gap: 20px;
    padding: 15px 10px;

    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    a{
        img{
            width: 45px;
            margin: 10px;
            transition: all 0.2s linear;
        }

        &:hover{img{filter: invert(0.2);}}
    }

    @media screen and (max-width: 1600px) {
        row-gap: 15px;
        padding: 10px 5px;
        a{img{width: 40px;}}
    }

    @media screen and (max-width: 1200px) {
        row-gap: 15px;
        padding: 10px 5px;
        a{
            img{
                width: 30px;
                height: 30px;
                margin: 5px;
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

header {
    $base-height: 10vh;
    $final-height: 55vh;
    $ft-base: 1.2rem; // tamaño base
    $ft-color: white; //ft = font
    $bg-color: rgb(0, 0, 0, 0);
    $bg-color-not-hero: rgba(24, 24, 24, 0.7);
    $min-height: 70px;

    position: absolute;
    z-index: 3;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: $ft-base;
    color: $ft-color;

    min-height: $min-height;
    height: $base-height;
    
    overflow: hidden;
    
    background-color: $bg-color;

    transition: all 200ms ease-out;


    &.not-hero {
        position: fixed;
        background-color: $bg-color-not-hero;
        border-bottom: 2px solid white;
        backdrop-filter: blur(10px);
    }
    
    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $base-height;
        min-height: $min-height;

        a {
            img {
                width: 70px;
            }
        }

        button {
            display: none;            
            cursor: pointer;
        }
    }

    nav {
        a {
            color: white;
            text-decoration: none;
        }

        display: flex;
        width: 40%;
        justify-content: space-between;
    }

    .socials-container {
        display: none;
    }
    @media screen and (max-width: 1600px) {
        padding: 0 6%;

        nav {
            width: 53%;
        }
    }

    @media screen and (max-width: 900px) and (orientation: portrait) {
        $translate-amount: 15px;
        $bg-color-open: rgba(0, 0, 0, 0.7);
        $open-min-height: 350px;
        $nav-min-height: 150px;
        
        padding: 0 5%;
        display: initial;
        
        &.open {
            height: $final-height;
            background-color: $bg-color-open;
            border-bottom: 3px solid white;
            backdrop-filter: blur(10px);
            min-height: $open-min-height;

            nav.not-auto {
                min-height: $nav-min-height;
                a {
                    transform: translateY(0);
                    opacity: 1;
                }

                @for $i from 1 through 4 {
                    a:nth-child(#{$i}) {
                        transition: all 300ms ease-out $i*60ms
                    }
                }
            }

            .socials-container {
                opacity: 1;
                transform: translateY(0);
                transition: all 300ms ease-out 300ms;
            }
        }
        
        .icons {
            a {
                img {
                    width: 65px;
                }
            }

            button {
                display: flex;
                flex-direction: column;
                row-gap: 5px;
                width: 40px;
                background-color: rgba(0, 0, 0, 0);
                border: 0;

                hr {
                    height: 5px;
                    width: 100%;
                    border-radius: 50px;
                    background-color: white;
                    transition: all 0.2s linear;
                }

                .oneClick{transform: rotate(-45deg) translate(-7px, 7px);}
                .twoClick{opacity: 0;}
                .trheeClick{transform: rotate(45deg) translate(-7px, -7px);}
            }
        }

        /*nav.auto {
            width: initial;
            flex-direction: column;
            align-items: end;
            padding: 35px 0;
            height: calc($final-height - $base-height);
        }*/

        nav.not-auto {
            width: initial;
            flex-direction: column;
            align-items: center;
            height: 25vh;
            font-size: 1.2 * $ft-base;
            // background-color: red;

            a {
                transform: translateY(-$translate-amount);
                opacity: 0;
                transition: all 200ms linear;
            }
        }

        .socials-container {
            opacity: 0;
            width: 100%;
            display: grid;
            place-items: center;
            margin-top: 4vh;
            transform: translateY(-$translate-amount);

            transition: all 200ms ease-out 60ms;

            .socials {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 15px;
                border-radius: 20px;
                background: rgba(51, 51, 51, 0.65);
                column-gap: 25px;
                padding: 15px 30px;

                a {
                    img{
                        width: 35px;
                        transition: all 0.2s linear;
                    }
            
                    &:hover{img{filter: invert(0.2);}}
                }
            }
        }
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
        nav {
            width: 70%;
        }
    }
}

#hero{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    background: url(./assets/hero-fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    padding: 0px 15%;
 
    & > * { // == #hero > *
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-top: 90px;
        // background-color: red;
    }

    .col-1 {
        img {width: 70%;}
    }

    .col-2 {
        .logo {width: 35%; margin-bottom: 40px;}

        h1 {
            font-size: 3rem;
            text-align: center;
            color: white;
            margin-bottom: 55px;

            span {
                color: #5DC3FB;
                display: block;
            }
        }

        .col-3-mobile {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {width: 45%;}
        
            p {
                color: white;
                font-size: 1.5rem;
                width: 60%;
                text-align: center;
    
                span {
                    color: #5DC3FB;
                }
            }  
        }

        a { 
            text-decoration: none;
            border-radius: 20px;
            border: 2px solid #5DC3FB;
            // background: linear-gradient(180deg, #636363 0%, #333 46.88%);
            background-color: #333;
            color: white;
            text-align: center;
            width: 300px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.25rem;
            margin-bottom: 40px;
            position: relative;
            cursor: pointer;
            transition: all 0.2s linear;

            img{width: 25px; margin-left: 15px;}

            .wsp-hover, .ig-hover{
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(180deg, #53CF5F 0%, #27B43C 100%, #27B43C 100%);
                opacity: 0;
                transition: all 0.2s linear;
            }

            .wsp-hover{background: linear-gradient(180deg, #53CF5F 0%, #27B43C 100%, #27B43C 100%);}
            .ig-hover{background: linear-gradient(180deg, #664BC9 0%, #C837AB 72.01%);}

            &:hover {
                border: 2px solid #fff;
                .wsp-hover {
                    opacity: 1;
                }
                .ig-hover {
                    opacity: 1;
                }
            }
        }
    }

    .col-3 {
        img {width: 45%;}
        
        p {
            color: white;
            font-size: 1.5rem;
            width: 60%;
            text-align: center;
            // background-color: red;

            span {
                color: #5DC3FB;
            }
        }  
    }

    @media screen and (min-width: 2400px) {
        & {
           min-height: 1000px;
        }
    }   

    @media screen and (max-width: 1600px) {
        & {
            padding: 0 5%;

            .col-2 {
                h1 {
                    margin-bottom: 30px;
                }
                a {
                    margin-bottom: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 1200px) {
        & {
            padding: 0 3%;
        }
    }

    @media screen and (max-width: 900px) and (orientation: portrait) {
        & > * {
            margin-top: 7vh;
        }
        .col-2 {
            .logo {
                margin-bottom: 20px;
            }
            h1 {
                font-size: 2rem;
                margin-bottom: 10px;
            }                
            .col-3-mobile {
                img {width: 37%;}
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }
        }
        grid-template-columns: 1fr;
        .col-1, .col-3 {
            display: none;
        }
        .col-2 {
            .col-3-mobile {
                display: flex;
            }
        }
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
        min-height: 550px;
        
        .col-2 {
            h1 {
                font-size: 1.8rem;
            }
        }
        .col-3 {
            p {
                font-size: 1.1rem;
            }
        }
    }

    @media screen and (max-width: 320px) {
        .col-2 {
            h1 {
                font-size: 1.8rem;
            }

            a {
                font-size: 1rem;
                width: 230px;
            }
        }

        
    }

    /* @media (orientation: portrait) {
        grid-template-columns: 1fr;
        .col-1, .col-3 {
            display: none;
        }
        .col-2 {
            .col-3-mobile {
                display: flex;
            }
        }
    } */
}

#ventajas {
    background: linear-gradient(180deg, #5DC3FB 0%, #328FC2 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5vh 15%;
    column-gap: 80px;

    .ventaja{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;

        .icono{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #fff;
            display: grid;
            place-items: center;

            img{width: 50px;}
        }

        p {
            height: 130px;
            color: #5DC3FB;
            background-color: white;
            font-size: 1.5rem;
            padding: 20px 30px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }

    .ventaja-mobile{display: none;}

    @media screen and (max-width: 1600px) {
        padding: 5vh 6%;

    }

    @media screen and (max-width: 1300px) {
        .ventaja {
            p {
                padding: 5px 20px;
            }
        }
    }

    @media screen and (max-width: 1150px) {
        .ventaja {
            p {
                font-size: 1.3rem;
            }
        }
    }

    @media screen and (max-width: 900px) {
        // .ventaja-mobile {display: initial;}  
        
        column-gap: 0px;
        padding: 5vh 6%;

        .ventaja{
            .icono{
                width: 80px;
                height: 80px;
                transition: all 0.1s linear;
    
                img{width: 40px;}

                &.seleccionado{
                    box-shadow: 0px 0px 15px 2px rgba(70, 70, 70, 0.705);
                    transform: scale(1.1);
                }

            }
    
            p {display: none;}
        }

        .ventaja-mobile{
            grid-column: 1 / 4;
            margin-top: 20px;
            height: 120px;
            color: #5DC3FB;
            background-color: white;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 20px 40px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

#como-comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 15%; //corregir
    row-gap: 100px;
    margin-top: 100px;

    .img1{
        position: absolute;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 200px;

        img{
            width: 450px;
        }
        
    }

    .img2{
        position: absolute;
        width: 100%;
        height: 500px;
        margin-top: 600px;

        img{
            width: 350px;
        }
    }

    .img3{
        position: absolute;
        width: 100%;
        height: 500px;
        margin-top: 1000px;
        display: flex;
        justify-content: end;
        align-items: center;

        img{
            width: 450px;
        }
    }
    
    h2{
        border-radius: 20px;
        background: rgba(105, 105, 105, 0.50);
        color: white;
        padding: 25px 40px;
        font-size: 2.5rem;

        span{color: #5DC3FB;}
    }

    .pasos {
        display: flex;
        flex-direction: column;
        row-gap: 100px;
        position: relative;
        
        hr{
            width: 50%;
            align-self: center;
            border: 1px solid #696969;;
        }

        .paso {
            width: 50%;
            
            h3 {
                color: #5DC3FB;
                font-size: 1.75rem;
                margin-bottom: 20px;
            }
            p {
                color: white;
                font-size: 1.5rem;
            }
            
            &.par {
                text-align: right;
                align-self: end;
            }
        }
    }

    @media screen and (max-width: 1600px) {
        padding: 5vh 6%;
        margin-top: 70px;

        .img1{img{width: 350px;}}

        .img2{img{width: 250px;}}

        .img3{img{width: 350px;}}
    }

    @media (orientation: portrait){
        padding: 5vh 6%;
        row-gap: 70px;
        margin-top: 20px;

        .img1{margin-top: 100px;
            img{width: 250px;}}

        .img2{img{width: 200px;}}

        .img3{margin-top: 900px;
            img{width: 270px;}}
        
        h2{
            padding: 25px 25px;
            font-size: 2rem;
            text-align: center;

            span {
                display: block;
            }
        }
    
        .pasos {
            row-gap: 60px;
            
            hr{width: 70%;}
    
            .paso {
                width: 90%;
                
                h3 {font-size: 1.75rem;}
                p {font-size: 1.25rem;}
            }
        }
    }
}

#ofertas{
    padding: 5vh 15%; //corregi
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    
    h2{
        border-radius: 20px;
        background: rgba(105, 105, 105, 0.50);
        color: white;
        padding: 25px 40px;
        font-size: 2.5rem;
    }

    .tarjetas {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 5px;

        .tarjeta {
            padding: 20px 30px;
            box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            flex-basis: 250px;
            margin-bottom: 70px;
            border-radius: 20px;
            background: linear-gradient(180deg, #606060 0%, #181818 100%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            color: white;

            img{width: 140px;}

            h3{
                font-weight: 600;
                background: linear-gradient(180deg, #FFF5A5 0%, #D2B45E 0.01%, #FFF5A5 51.04%, #D2B45E 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 2rem;
            }

            .cantidad{
                font-weight: bolder;
                font-size: 3rem;
                margin-bottom: 15px;
            }

            .texto {
                font-weight: 600;
                font-size: 1.5rem;
                text-align: center;
                font-weight: 400;
                margin-bottom: 15px;
            }

            .precio {
                font-weight: bolder;
                font-size: 2rem;
                margin-bottom: 15px;
            }
            
            a{
                text-decoration: none;
                font-size: 1rem;
                color: black;
                padding: 10px 30px;
                border-radius: 20px;
                background: linear-gradient(180deg, #D2B45E 0%, #FFF5A5 47.4%, #D2B45E 100%);
                margin-bottom: 15px;
                font-weight: 600;
                transition: all 0.1s linear;

                &:hover{
                    box-shadow: 0 0 10px 0 #faeb76;
                }
            
            }

            &:nth-child(2){background: linear-gradient(180deg, #5DC3FB 0%, #181818 100%);}

            &:nth-child(5){
                // border: 2px solid white;
                .cantidad {font-size: 2rem;}
            }
        }

    }

    @media screen and (max-width: 1600px) {
        padding: 5vh 6%;
    
        .tarjetas {
            .tarjeta {
                flex-basis: 220px;
            }
        }   
    }

    @media screen and (max-width: 600px) {
        .tarjetas {
            .tarjeta {
                flex-basis: 270px;
            }
        }
    }
}

#consolas {
    padding: 7vh 15%;
    background-image: url(assets/consola-bg-desktop.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    position: relative;

    .mask {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(93, 195, 251, 0.90) 0%, rgba(50, 143, 194, 0.90) 100%);
    }

    .consola {
        z-index: 2;
        display: grid;
        place-items: center;
        // background-color: red;

        img {width: 60px;}

        p {
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 20px;
            width: 70%;
        }
    }

    @media screen and (max-width: 1600px) {
        padding: 7vh 6%;
    }

    @media screen and (max-width: 900px) {
        background-image: url(assets/consola-bg-mobile.jpg);
        flex-direction: column;
        row-gap: 50px;
        .consola{img {width: 80px;}}
    }
}

#contacto{
    padding: 5vh 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    background-image: url(./assets/contacto-bg.jpg);
    background-repeat: no-repeat;
    background-position: 100%;

    h2{
        border-radius: 20px;
        background: rgba(105, 105, 105, 0.50);
        color: white;
        margin-top: 100px;
        padding: 25px 40px;
        font-size: 2.5rem;
    }

    .contenedor{
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.70);
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px 30px;
            row-gap: 30px;

            h4{
                font-size: 1.25rem;
            }

            p{
                display: flex;
                justify-content: center;
                align-items: center;
                color: #696969;
                margin: 0 30px;
                text-align: center;

                a{
                    margin: 0 30px 0 0px;

                    img{
                        width: 40px;
                    }
                    .contactoImgHover{
                        position: absolute;
                        transform: translateX(-100%);
                        opacity: 0;
                        transition: all 0.2s linear;
                    }

                    &:hover{
                        .contactoImgHover{opacity: 1;}
                    }
    
                }
            }

            & > a { 
                width: 150px;
                text-decoration: none;
                border-radius: 20px;
                background: linear-gradient(180deg, #696969 0%, #121212 100%);
                color: white;
                position: relative;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 25px;
                transition: all 0.2s linear;
    
                .contacto-wsp-hover, .contacto-ig-hover{
                    position: absolute;
                    width: 100%;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 25px;
                    opacity: 0;
                    transition: all 0.2s linear;
                }
    
                .contacto-wsp-hover{background: linear-gradient(180deg, #53CF5F 0%, #27B43C 100%, #27B43C 100%);}
                .contacto-ig-hover{background: linear-gradient(180deg, #664BC9 0%, #C837AB 72.01%);}
    
                &:hover {
                    .contacto-wsp-hover {
                        opacity: 1;
                    }
                    .contacto-ig-hover {
                        opacity: 1;
                    }
                }
            }
        }
        
        .insta{border-right: 1px solid grey;}
    }

    @media screen and (max-width: 1600px) {
        padding: 5vh 6%;
    }

    @media (orientation: portrait) {
        padding: 0 10%;
        
        h2{width: 100%;}

        .contenedor{
            display: flex;
            flex-direction: column;
            margin-bottom: 100px;
            
            div{
                padding: 40px 0px;
    
                h4{font-size: 1.4rem; text-align: center;}
    
                p{  
                    flex-direction: column;
                    row-gap: 15px;
                    font-weight: 600;
                    font-size: 1.2rem;

                    a{
                        margin: 0px;
                        img{
                            width: 45px;
                        }
                    }
                }
    
                a { 
                    width: 50%;
                    padding: 10px 0px;
                }
            }
            .insta{
                border-right: 0px solid grey;
                border-bottom: 1px solid grey;
            }
        }
    }
}

footer {
    .cliente {
        // width: 100%;
        padding: 3vh 15%;
        background: linear-gradient(180deg, #606060 0%, #181818 100%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;      

        &>img {
            width: 120px;
        }

        p {
            font-size: 1rem;
            color: white;  
            justify-self: center;
            text-align: center;
        }

        .redes {
            justify-self: end;
            display: flex;
            column-gap: 10px;

            img {
                width: 40px;
                transition: all 0.2s linear;
            }

            
        }
    }

    .decoded {
        padding: 2vh 0;
        display: flex;
        justify-content: center;
        color: white;

        a {
            color: white;
            cursor: pointer;
            font-family: "audiowide", sans-serif;
            padding: 0 2px;
            text-decoration: none;
            
            
        }
    }

    @media screen and (max-width: 1600px) {
        .cliente {padding: 3vh 6%;}
    }

    @media screen and (max-width: 600px) {
        .cliente {
            grid-template-columns: 1fr;
            
            &>img, .redes {
                justify-self: center;
            }            
            
            &>img, p {
                margin-bottom: 30px;
            }
        }
    }
}



// P A N T A L L A   D E   T A M A Ñ O S

#info-screen { 
    position: fixed;
    z-index: 100;
    height: 100vh;

    .info {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        background-color:#181818;
        border-radius: 15px;
        padding: 6px 15px;

        span:not(.sep) {
            font-weight: bold;
            font-size: 1.25rem;
        }
    }
}