// C O M P O N E N T E S


#hero{
    .col-2 {
        h1 {
            span {
                color: #4068F4;
                display: block;
            }
        }

        .col-3-mobile {
            p {
                span {
                    color: #4068F4;
                }
            }  
        }

        a {border: 2px solid #4068F4;}
    }

    .col-3 {
        p {
            span {
                color: #4068F4;
            }
        }  
    }
}

#ventajas {
    background: linear-gradient(180deg, #2A51DA 0%, #4068F4 0.01%, #1234AF 100%);

    .ventaja{
        p {color: #4068F4;}
    }

    @media screen and (max-width: 900px) {
        .ventaja-mobile{color: #4068F4;}
    }
}

#como-comprar {
    h2{span{color: #4068F4;}}
    .pasos {
        .paso {
            h3 {color: #4068F4;}
            p {strong {color: #4068F4}}
        }
    }

}

#ofertas{
    .tarjetas {
        .tarjeta {
            &:nth-child(2){background: linear-gradient(180deg, #4068F4 0%, #181818 100%);}
        }

    }
}

#consolas {
    .mask {
        background: linear-gradient(180deg, rgba(64, 104, 244, 0.90) 0%, rgba(18, 52, 175, 0.90) 100%);
    }
}
