#hero .col-2 h1 span {
  color: #842022;
  display: block;
}
#hero .col-2 .col-3-mobile p span {
  color: #842022;
}
#hero .col-2 a {
  border: 2px solid #842022;
}
#hero .col-3 p span {
  color: #842022;
}

#ventajas {
  background: linear-gradient(180deg, #842022 0%, #410509 100%);
}
#ventajas .ventaja p {
  color: #842022;
}
@media screen and (max-width: 900px) {
  #ventajas .ventaja-mobile {
    color: #842022;
  }
}

#como-comprar h2 span {
  color: #842022;
}
#como-comprar .pasos .paso h3 {
  color: #842022;
}
#como-comprar .pasos .paso p strong {
  color: #842022;
}

#ofertas .tarjetas .tarjeta:nth-child(2) {
  background: linear-gradient(180deg, #842022 0%, #181818 100%);
}

#consolas .mask {
  background: linear-gradient(180deg, rgba(132, 32, 34, 0.9) 0%, rgba(65, 5, 9, 0.9) 100%);
}