// C O M P O N E N T E S


#hero{
    .col-2 {
        h1 {
            span {
                color: #842022;
                display: block;
            }
        }

        .col-3-mobile {
            p {
                span {
                    color: #842022;
                }
            }  
        }

        a {border: 2px solid #842022;}
    }

    .col-3 {
        p {
            span {
                color: #842022;
            }
        }  
    }
}

#ventajas {
    background: linear-gradient(180deg, #842022 0%, #410509 100%);

    .ventaja{
        p {color: #842022;}
    }

    @media screen and (max-width: 900px) {
        .ventaja-mobile{color: #842022;}
    }
}

#como-comprar {
    h2{span{color: #842022;}}
    .pasos {
        .paso {
            h3 {color: #842022;}
            p {strong {color: #842022}}
        }
    }

}

#ofertas{
    .tarjetas {
        .tarjeta {
            &:nth-child(2){background: linear-gradient(180deg, #842022 0%, #181818 100%);}
        }

    }
}

#consolas {
    .mask {
        background: linear-gradient(180deg, rgba(132, 32, 34, 0.90) 0%, rgba(65, 5, 9, 0.90) 100%);
    }
}
